# Ignore compiled Python files
*.pyc

# Ignore all files in the temp directory
temp/

.venv
.idea

users.sqlite
usersMY.sqlite
companies.sqlite
parse_companies.py
parse_bs4.py
parse_us_companies.py

assets/female
assets/male
assets/selfieGenerator
assets/EIN-FORM-US-1.jpg
assets/EIN-FORM-US-2.jpg

config.ini
